ansible_python_interpreter: /usr/bin/python3

###
### Global
###
hostname: <FIXME>
user: <FIXME>
timezone: Europe/Zurich
base_port: 10000

###
### Samba
###
samba_server_string: <FIXME>
samba_shares_root: <FIXME>
samba_apple_extensions: yes
samba_guest_account: "{{ user }}"
samba_netbios_name: "{{ hostname }}"

downloads_directory: "{{ samba_shares_root }}/downloads"
movies_directory: "{{ samba_shares_root }}/movies"
music_directory: "{{ samba_shares_root }}/music"
photos_directory: "{{ samba_shares_root }}/photos"
podcasts_directory: "{{ samba_shares_root }}/podcasts"
temp_directory: "{{ samba_shares_root }}/temp"
timemachine_directory: "{{ samba_shares_root }}/timemachine"
tv_directory: "{{ samba_shares_root }}/tv"

samba_shares:
  - name: downloads
    comment: 'Downloads'
    guest_ok: yes
    public: yes
    writable: yes
    browsable: yes
    path: "{{ downloads_directory }}"

  - name: movies
    comment: 'Movies'
    guest_ok: yes
    public: yes
    writable: yes
    browsable: yes
    path: "{{ movies_directory }}"

  - name: music
    comment: 'Music'
    guest_ok: yes
    public: yes
    writable: yes
    browsable: yes
    path: "{{ music_directory }}"

  - name: photos
    comment: 'Photos'
    guest_ok: yes
    public: yes
    writable: yes
    browsable: yes
    path: "{{ photos_directory }}"

  - name: podcasts
    comment: 'Podcasts'
    guest_ok: yes
    public: yes
    writable: yes
    browsable: yes
    path: "{{ podcasts_directory }}"

  - name: temp
    comment: 'Temp'
    guest_ok: yes
    public: yes
    writable: yes
    browsable: yes
    path: "{{ temp_directory }}"

  - name: timemachine
    comment: 'Timemachine'
    vfs_objects:
      - name: fruit
        options:
          - name: time machine
            value: yes
      - name: streams_xattr
    guest_ok: yes
    public: yes
    writable: yes
    browsable: yes
    path: "{{ timemachine_directory }}"

  - name: tv
    comment: 'TV Shows'
    guest_ok: yes
    public: yes
    writable: yes
    browsable: yes
    path: "{{ tv_directory }}"

###
### Docker
###
docker_username: <FIXME>
docker_uid: <FIXME>
docker_groupname: <FIXME>
docker_gid: <FIXME>

docker_home: <FIXME>

dockerhub_username: <FIXME>
dockerhub_password: <FIXME>

###
### Traefik
###
traefik_data_directory: "{{ docker_home }}/traefik"
traefik_docker_image: traefik:latest
traefik_base_port: "{{ base_port|int + 10 }}"
traefik_port_http: "{{ traefik_base_port|int }}"
traefik_port_https: "{{ traefik_base_port|int + 1}}"
traefik_port_dashboard: "{{ traefik_base_port|int + 2}}"
traefik_acme_email: <FIXME>
traefik_acme_caserver: https://acme-staging-v02.api.letsencrypt.org/directory
traefik_acme_domain: <FIXME>
traefik_acme_domain_main: "<FIXME>.{{ traefik_acme_domain }}"
traefik_acme_domain_sans: 
  - "<FIXME>.{{ traefik_acme_domain }}"

###
### Portainer
###
portainer_username: "{{ docker_username }}"
portainer_groupname: "{{ docker_groupname }}"
portainer_docker_image: portainer/portainer:latest
portainer_data_directory: "{{ docker_home }}/portainer"
portainer_base_port: "{{ base_port|int + 20 }}"
portainer_port: "{{ portainer_base_port|int }}"
portainer_available_external: "false"

###
### Heimdall
###
heimdall_username: "{{ docker_username }}"
heimdall_uid: "{{ docker_uid }}"
heimdall_groupname: "{{ docker_groupname }}"
heimdall_gid: "{{ docker_gid }}"
heimdall_docker_image: linuxserver/heimdall:latest
heimdall_data_directory: "{{ docker_home }}/heimdall"
heimdall_base_port: "{{ base_port|int + 30 }}"
heimdall_port_http: "{{ heimdall_base_port|int }}"
heimdall_port_https: "{{ heimdall_base_port|int + 1 }}"
heimdall_available_external: "false"

###
### Glances
###
glances_docker_image: nicolargo/glances
glances_base_port: "{{ base_port|int + 40 }}"
glances_port_one: "{{ glances_base_port|int }}"
glances_port_two: "{{ glances_base_port|int + 1}}"
glances_available_external: "false"

###
### MariaDB
###
mariadb_docker_image: linuxserver/mariadb:latest
mariadb_root_password: <FIXME>

###
### Nextcloud
###
nextcloud_username: "{{ docker_username }}"
nextcloud_uid: "{{ docker_uid }}"
nextcloud_groupname: "{{ docker_groupname }}"
nextcloud_gid: "{{ docker_gid }}"
nextcloud_docker_image: linuxserver/nextcloud:latest
nextcloud_data_directory: "{{ docker_home }}/nextcloud"
nextcloud_base_port: "{{ base_port|int + 50 }}"
nextcloud_port_webgui: "{{ nextcloud_base_port|int }}"
nextcloud_port_database: "{{ nextcloud_base_port|int + 1 }}"
nextcloud_database_database: nextcloud
nextcloud_database_username: <FIXME>
nextcloud_database_password: <FIXME>
nextcloud_available_external: "false"

###
### Plex
###
plex_username: "{{ docker_username }}"
plex_uid: "{{ docker_uid }}"
plex_groupname: "{{ docker_groupname }}"
plex_gid: "{{ docker_gid }}"
plex_docker_image: linuxserver/plex:latest
plex_data_directory: "{{ docker_home }}/plex"
plex_movies_directory: "{{ movies_directory }}"
plex_music_directory: "{{ music_directory }}"
plex_photos_directory: "{{ photos_directory }}"
plex_podcasts_directory: "{{ podcasts_directory }}"
plex_tv_directory: "{{ tv_directory }}"
plex_available_external: "false"

###
### Jellyfin
###
jellyfin_username: "{{ docker_username }}"
jellyfin_uid: "{{ docker_uid }}"
jellyfin_groupname: "{{ docker_groupname }}"
jellyfin_gid: "{{ docker_gid }}"
jellyfin_docker_image: linuxserver/jellyfin:latest
jellyfin_data_directory: "{{ docker_home }}/jellyfin"
jellyfin_movies_directory: "{{ movies_directory }}"
jellyfin_music_directory: "{{ music_directory }}"
jellyfin_photos_directory: "{{ photos_directory }}"
jellyfin_podcasts_directory: "{{ podcasts_directory }}"
jellyfin_tv_directory: "{{ tv_directory }}"
jellyfin_base_port: "{{ base_port|int + 60 }}"
jellyfin_port_http: "{{ jellyfin_base_port|int }}"
jellyfin_port_https: "{{ jellyfin_base_port|int + 1 }}"
jellyfin_available_external: "false"

###
### pyLoad
###
pyload_username: "{{ docker_username }}"
pyload_uid: "{{ docker_uid }}"
pyload_groupname: "{{ docker_groupname }}"
pyload_gid: "{{ docker_gid }}"
pyload_docker_image: linuxserver/pyload:latest
pyload_data_directory: "{{ docker_home }}/pyload"
pyload_download_directory: "{{ downloads_directory }}"
pyload_base_port: "{{ base_port|int + 70 }}"
pyload_port_webgui: "{{ pyload_base_port|int }}"
pyload_port_control: "{{ pyload_base_port|int + 1 }}"
pyload_available_external: "false"

###
### Monitoring
###
monitoring_node_exporter_version: 1.0.0
monitoring_data_directory: "{{ docker_home }}/monitoring"
monitoring_prometheus_docker_image: prom/prometheus:latest
monitoring_base_port: "{{ base_port|int + 80 }}"
monitoring_port_prometheus: "{{ monitoring_base_port|int }}"
monitoring_node_exporter_docker_image: prom/node-exporter:latest:latest
monitoring_port_node_exporter: "{{ monitoring_base_port|int + 1 }}"
monitoring_grafana_docker_image: grafana/grafana:latest
monitoring_port_grafana: "{{ monitoring_base_port|int + 2 }}"
monitoring_available_external: "false"